.container {
    width: fit-content;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 10px;  
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 90px;          
    font-style: italic;
    color: rgb(16, 16, 16);
}

input,
select {
    width: 220px;         
    height: 35px;         
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 10px;  
    box-sizing: border-box;
}

button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.709);
    color: white;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}